@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
.accordion {
  background: #ccc;
  position: relative;
  height: 100vh;
  min-height: 36.111111rem;
  display: flex;
  flex-direction: column; }
  .accordion__container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; }
  .accordion__slide-title {
    margin-top: 115px;
    margin-left: 84px;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
    color: #ffffff; }

.advantages__list {
  display: flex;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .advantages__list {
      display: none; } }

.advantages__item {
  display: flex;
  justify-content: space-between; }

.advantages__item:last-child {
  margin-right: 0; }

.advantages__icon {
  margin-right: 0.8125rem; }

.advantages__img {
  height: 2.625rem;
  width: 2.6875rem; }

.advantages__text {
  line-height: 1.125rem; }

.benefits {
  display: flex;
  margin-top: 2.5rem; }
  @media screen and (max-width: 768px) {
    .benefits {
      padding-bottom: 20rem; } }
  @media screen and (max-width: 480px) {
    .benefits {
      flex-direction: column;
      width: 67%; } }

.benefits__item {
  flex: 1;
  margin: 0 3%;
  position: relative; }
  @media screen and (max-width: 480px) {
    .benefits__item {
      margin: 0 0;
      display: -webkit-box; } }

.benefits__item:before {
  content: url("./img/Combined shape 2204.jpg");
  position: absolute;
  top: 1.875rem;
  right: 0;
  transform: translateX(50%); }
  @media screen and (max-width: 480px) {
    .benefits__item:before {
      display: none; } }

.benefits__item:first-child {
  margin-left: 0; }

.benefits__item:last-child {
  margin-right: 0; }

.benefits__item:last-child:before {
  display: none; }

.benefit {
  text-align: center; }
  @media screen and (max-width: 480px) {
    .benefit {
      text-align: left; } }

.benefits__image-wrapper {
  display: inline-block;
  width: 7.875rem;
  height: 7.875rem;
  position: relative;
  background: #f5f5f5;
  border-radius: 50%;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .benefits__image-wrapper {
      width: 8rem;
      height: 8rem; } }

.benefits__img {
  height: 4.0625rem;
  width: 3.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 768px) {
    .benefits__img {
      height: 4.1rem;
      width: 4.85rem; } }

.benefits__title {
  font-size: 1.5rem;
  font-weight: bold; }

.benefits__desc {
  color: #666666; }

.contacts {
  font-style: normal;
  font-size: 1.1875rem;
  display: flex;
  align-items: center; }

.contacts__icon {
  width: 0.865625rem;
  height: 0.865625rem; }
  @media screen and (max-width: 768px) {
    .contacts__icon {
      display: none; } }

.contacts--footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media screen and (max-width: 480px) {
    .contacts--footer {
      display: flex;
      align-items: center; } }

.contacts-phone {
  display: flex;
  align-items: center; }

.delivery {
  padding-top: 2.875rem; }

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%; }
  @media screen and (max-width: 768px) {
    .fixed-menu {
      display: none; } }
  @media screen and (max-width: 480px) {
    .fixed-menu {
      display: none; } }

.fixed-menu__item {
  margin-bottom: 0.3125rem; }

.fixed-menu__item--active .fixed-menu__link {
  border-color: red; }

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative; }

.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: grey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.form {
  display: flex;
  margin-top: 2.1875rem; }
  @media screen and (max-width: 768px) {
    .form {
      margin-top: 1rem;
      flex-direction: column;
      padding: 0px 19% 2rem 19%; } }
  @media screen and (max-width: 480px) {
    .form {
      padding: 0 2% 2rem 2%; } }

.form__col {
  flex: 1;
  margin-right: 1.875rem; }
  @media screen and (max-width: 768px) {
    .form__col {
      margin-right: 0; } }

.form__col:last-child {
  margin-right: 0; }

.form__row {
  display: flex;
  margin-bottom: 1.125rem; }
  @media screen and (max-width: 768px) {
    .form__row {
      margin-bottom: 0; } }

@media screen and (max-width: 480px) {
  .form__btns {
    display: flex;
    justify-content: center; } }

.form__row:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.form__block {
  flex: 1;
  margin-right: 1.25rem; }

.form__block:last-child {
  margin-right: 0; }

@media screen and (max-width: 768px) {
  .form__title {
    font-size: 1.2rem; } }

.form__input {
  width: 100%;
  padding: 0.4rem 0.6875rem;
  border: solid 0.1875rem transparent; }

.form__input--textarea {
  height: 9.5rem;
  resize: none;
  margin-bottom: 1rem; }
  @media screen and (max-width: 768px) {
    .form__input--textarea {
      height: 5.5rem; } }

.form__input:focus {
  border-color: #E01F3D;
  outline: none; }

.form__controls {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 480px) {
    .form__controls {
      justify-content: center; } }

.form__controls--bottom {
  margin-bottom: 3.25rem; }

.header {
  min-height: 4.0625rem;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .header {
      justify-content: space-between; } }

@media screen and (max-width: 768px) {
  .header__contacts-phone {
    display: none; } }

.headline {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 4.25rem; }
  @media screen and (max-width: 768px) {
    .headline {
      padding-top: 12.25rem; } }

.headline__subtitle {
  color: #666666;
  padding: 0 23%; }
  @media screen and (max-width: 480px) {
    .headline__subtitle {
      padding: 0 12%; } }

.indicators {
  display: flex; }
  @media screen and (max-width: 768px) {
    .indicators {
      justify-content: center; } }

.indicators__menu {
  display: flex;
  flex-direction: column;
  margin-right: 5rem; }
  .indicators__menu:last-child {
    margin-right: 0; }

.indicators__menu-recharge, .indicators__menu-weight {
  color: #666666; }

.indicators__menu-time, .indicators__menu-easy {
  font-weight: bold; }

.price__button {
  margin-top: 1rem;
  margin-left: 1rem; }

html {
  height: 100%;
  width: 100%;
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: play;
  line-height: 1.88;
  -webkit-font-smoothing: anyialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden; }

.container {
  width: 62.5rem;
  margin: 0 auto;
  max-width: 100%; }

.maincontent {
  height: 100%;
  transform: translateY(0%); }

a {
  color: inherit;
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

p {
  margin-top: 0; }

* {
  box-sizing: border-box; }

img {
  display: block;
  width: 100%;
  height: 100%; }

.btn {
  padding: 1.125rem 2.625rem;
  background: #E01F3D;
  border-radius: 6.25rem;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .btn {
      padding: 0.8rem 2.8rem;
      font-size: 1rem; } }

.btn:hover {
  background: #CA1B36; }

.btn--theme--transparent {
  background: transparent;
  text-transform: none;
  font-weight: normal;
  cursor: pointer; }

@media screen and (max-width: 768px) {
  .btn--delivery {
    padding: 1.4rem 2.8rem; } }

.logo {
  margin-right: 2.3125rem; }

.logo__img {
  border-radius: 50%; }

@media screen and (max-width: 768px) {
  .menu {
    display: none; } }

.menu__list {
  margin-right: 1.875rem; }

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.625rem; }
  @media screen and (max-width: 768px) {
    .menu__item {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 0px; }
      .menu__item:last-child {
        margin-bottom: 0%; } }

.menu__link:hover {
  opacity: 0.7; }

.overlay {
  display: none;
  height: 100%;
  width: 100%;
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  position: fixed;
  top: 0;
  left: 100%;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }

.overlay-menu__list {
  color: #fff;
  display: flex;
  flex-direction: column; }

.overlay-menu {
  position: relative; }

.modal {
  display: none; }
  .modal.error-modal .modal__content {
    color: red; }
  .modalfancybox-content {
    padding: 0 !important; }
  .modal .fancybox-button {
    display: none; }

.modal__container {
  background: #ffffff;
  padding: 35px 60px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.modal__content {
  margin-bottom: 15px;
  color: #000; }

.present {
  max-width: 20.625rem; }
  @media screen and (max-width: 768px) {
    .present {
      max-width: 90%;
      margin: 0 auto;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 15rem; } }

.present__title {
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.25rem;
  text-transform: uppercase;
  margin-bottom: 1.0625rem; }
  @media screen and (max-width: 768px) {
    .present__title {
      font-size: 2.95rem;
      line-height: 4rem;
      margin-bottom: 0.5rem; } }
  @media screen and (max-width: 768px) and (max-width: 480px) {
    .present__title {
      padding: 0 16%; } }

.present__subtitle {
  min-height: 3.125rem;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  margin-bottom: 3.0625rem; }
  @media screen and (max-width: 768px) {
    .present__subtitle {
      font-size: 1.5rem;
      line-height: 1.4rem;
      padding: 0 16%;
      margin-bottom: 1.4rem; } }
  @media screen and (max-width: 768px) and (max-width: 480px) {
    .present__subtitle {
      padding: 0 3%; } }

.price {
  display: flex; }
  @media screen and (max-width: 768px) {
    .price {
      justify-content: center; } }

.price__text {
  font-size: 2.25rem; }

.radio {
  display: flex;
  cursor: pointer;
  margin-right: 0.8125rem;
  user-select: none; }

.radio--checkbox .radio__visible {
  border-radius: 0; }

.radio--checkbox .radio__visible:before {
  background: url("./img/V.png") center center no-repeat; }

.radio:last-child {
  margin-right: 0; }

.radio__elem {
  display: none; }

.radio__elem:checked ~ .radio__visible::before {
  display: block; }

.radio__visible {
  width: 1.4375rem;
  height: 1.4375rem;
  position: relative;
  border-radius: 50%;
  background: #ffffff;
  margin-right: 0.3125rem; }

.radio__visible:before {
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.reviews__display {
  background: #f5f5f5;
  padding-right: 2.8125rem;
  padding-left: 2.8125rem;
  overflow: hidden;
  position: relative; }
  @media screen and (max-width: 768px) {
    .reviews__display {
      padding: 3.75rem 2.8125rem 1.1rem; } }

.reviews__display:before {
  content: "";
  display: block;
  width: 5.625rem;
  height: 5.625rem;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -4.0625rem; }

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: .3s;
  opacity: 0; }

.reviews__item--active {
  position: static;
  opacity: 1;
  pointer-events: unset;
  display: flex; }
  @media screen and (max-width: 768px) {
    .reviews__item--active {
      flex-direction: column; } }

.reviews__wrapper {
  display: flex; }
  @media screen and (max-width: 768px) {
    .reviews__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; } }

.reviews__list {
  position: relative;
  min-height: 280px; }

.reviews__switcher {
  display: flex;
  justify-content: center;
  margin-top: 2.0625rem; }

.reviews__display-inner {
  width: 15.875rem;
  height: 16.25rem; }
  @media screen and (max-width: 768px) {
    .reviews__display-inner {
      width: 8.6rem;
      height: 8.6rem; } }

.reviews__img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.reviews__content {
  flex: 1;
  margin-left: 2.5rem;
  margin-top: 1.375rem; }
  @media screen and (max-width: 480px) {
    .reviews__content {
      margin-left: 0; } }

.reviews__title {
  font-size: 1.625rem;
  font-weight: bold;
  margin-bottom: 1.5625rem;
  color: black; }
  @media screen and (max-width: 768px) {
    .reviews__title {
      margin-bottom: 0.8rem; } }

.reviews__text {
  margin-bottom: 1.875rem; }

.reviews__author {
  font-size: 1.125rem;
  font-weight: bold;
  color: black; }

.reviews__switcher-item {
  width: 5rem;
  height: 5rem;
  border: 0.375rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative; }

.reviews__switcher-item:hover {
  border-color: #E01F3D; }

.reviews__switcher-item--active {
  border-color: #E01F3D; }

.reviews__switcher-item-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block; }

.reviews__switcher-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.section {
  background: #fff;
  min-height: 40.625rem;
  display: flex;
  justify-content: center;
  height: 100vh; }

.section--grey .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-bottom: 5rem; }

.section--grey {
  background: #f5f5f5; }

.section--font-color--white {
  color: #fff;
  background: url("./img/bg_delivery.jpg") center center/cover no-repeat;
  height: 100vh; }

.section__title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .section__title {
      font-size: 2.7rem; } }

.products {
  height: 100%;
  background: #f5f5f5; }
  @media screen and (max-width: 768px) {
    .products {
      flex-direction: column;
      align-items: center; } }

.products__wripper {
  display: flex; }
  @media screen and (max-width: 768px) {
    .products__wripper {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.products__content {
  display: flex;
  justify-content: space-around; }

.products__img {
  width: 29.25rem;
  height: 29.25rem;
  border-radius: 50%; }
  @media screen and (max-width: 768px) {
    .products__img {
      width: 19.125rem;
      height: 19.125rem; } }

.products__info {
  display: flex;
  flex-direction: column;
  max-width: 42%; }
  @media screen and (max-width: 768px) {
    .products__info {
      max-width: 100%;
      text-align: center; } }

.products__title {
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase; }

.products__desc {
  color: #666666; }

.products__icon {
  border-radius: 50%; }

.bx-wrapper {
  border: 0;
  background: transparent;
  box-shadow: none; }

.team {
  display: flex;
  justify-content: space-between; }

.team__title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }

@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none; } }

.team--version--mobile {
  display: none; }
  @media screen and (max-width: 768px) {
    .team--version--mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px; } }

.team__item {
  margin-right: 20px;
  flex: 1;
  text-align: center;
  max-width: 14.444444rem;
  position: relative; }

.team__item:last-child {
  margin-right: 0; }

.team__image {
  height: 290px;
  margin-bottom: 20px; }

.team__content {
  overflow: hidden;
  height: 0;
  transition: height .3s;
  top: 100%;
  position: absolute; }
  @media screen and (max-width: 768px) {
    .team__content {
      position: inherit; } }

.team__present {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  background: #ffffff;
  border: transparent; }

.team__position {
  font-weight: bold; }

.team__officiate {
  color: #666666; }

.hero section {
  background: #f5f5f5; }

.welcome {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.8125rem; }
  @media screen and (max-width: 768px) {
    .welcome {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center; } }

.welcome__col--left {
  margin-top: 5.1875rem; }
  @media screen and (max-width: 768px) {
    .welcome__col--left {
      margin-top: 2rem;
      text-align: center; } }

.welcome__col--right {
  width: 30.5625rem;
  height: 30.5625rem;
  border-radius: 50%;
  margin-top: 1.25rem;
  margin-right: 4.375rem; }
  @media screen and (max-width: 768px) {
    .welcome__col--right {
      width: 23.5rem;
      height: 23.5rem;
      margin-right: 0; } }

.hamburger {
  width: 24px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 15;
  cursor: pointer;
  transition: all 0.4s; }
  @media screen and (max-width: 768px) {
    .hamburger {
      display: inline-flex; } }
  @media screen and (max-width: 480px) {
    .hamburger {
      display: inline-flex; } }

.hamburger__plank {
  display: block;
  background: black;
  height: 4px;
  background-repeat: 10px;
  width: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  transition: all 0.4s; }

.hamburger__plank:nth-child(2) {
  top: 50%;
  transform: translateY(-50%); }

.hamburger__plank:nth-child(3) {
  bottom: 0;
  top: initial; }

.hamburger--active .hamburger__plank:nth-child(1) {
  opacity: 0; }

.hamburger--active .hamburger__plank:nth-child(2) {
  transform: rotate(45deg); }

.hamburger--active .hamburger__plank:nth-child(3) {
  transform: rotate(-45deg) translateY(-4px) translateX(5px); }

.overlay--active {
  left: 0;
  opacity: 1; }

.body--active-menu {
  overflow: hidden; }

.map-section {
  min-height: 41rem;
  height: 100vh;
  width: 100%;
  position: relative; }

.map {
  width: 600px;
  height: 600px; }

.footer {
  min-height: 5.4375rem;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff; }
  @media screen and (max-width: 480px) {
    .footer {
      display: flex;
      flex-direction: column; } }

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0, 1.5rem; }
  @media screen and (max-width: 480px) {
    .footer-content {
      flex-direction: column; } }

.socials {
  display: flex;
  justify-content: flex-end; }

.socials__item {
  margin-right: 13px; }

.socials__item:last-child {
  margin-right: 0; }

.socials__link {
  display: block;
  text-decoration: none;
  background: center center no-repeat; }

.socials__icon {
  height: 36px;
  width: 36px; }

.sizes {
  height: 100%; }
  .sizes__list {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex; }
  .sizes__item {
    display: flex; }

.sizes__title {
  position: relative;
  width: 100px; }
  .sizes__title--silver {
    background: silver; }
  .sizes__title--black {
    background: #151515; }
  .sizes__title--red {
    background: red; }

.sizes__item-description {
  background: #bae7ba;
  width: 0;
  position: relative;
  overflow: hidden;
  transition: width .7s; }

.sizes__container {
  padding: 40px 73px 45px 26px; }

.sizes__close {
  position: absolute;
  top: 20px;
  right: 25px;
  border: none;
  background: transparent;
  cursor: pointer; }

.player {
  position: relative;
  display: block;
  width: 100%;
  height: 100%; }
  .player.paused .player__start {
    width: 14px;
    height: 22px;
    border: none; }
    .player.paused .player__start:after, .player.paused .player__start:before {
      content: "";
      display: block;
      position: absolute;
      width: 5px;
      top: 0;
      bottom: 0; }
    .player.paused .player__start:after {
      right: 0; }
    .player.paused .player__start:before {
      left: 0; }

.player--active .player__splash {
  display: none; }

.player__playback {
  height: 16px;
  width: 446px;
  position: relative; }
  .player__playback:before {
    content: "";
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    background: #cccccc;
    display: block;
    transform: translateY(-50%); }

.player__playback-button {
  background: #626262;
  border-radius: 50px;
  border: none;
  width: 12px;
  height: 12px;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%); }
