.socials {
    display: flex;
    justify-content: flex-end;
}

.socials__item {
margin-right: 13px;
}


.socials__item:last-child {
margin-right: 0;
}

.socials__link {
display: block;
text-decoration: none;
background: center center no-repeat;
}

.socials__icon {
height: 36px;
width: 36px;
}